<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    <form action="login" method="POST">
        {% csrf_token %}
        <input type="text" name="user_name" id="">
        <input type="password" name="password" id="">
        <input type="submit" >
    </form>
    <div>
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
</body>
</html>